body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .logo {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

#overview {
    background-color: #e3e3e3;
    text-align: center;
}

.summary {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#control form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

#control input, #control select, #control button {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
